:host {
   display: flex;
   max-width: max-content;
   min-width: var(--parent-width, 0);
   max-height: 40rem;
   min-height: 3rem;
   padding-bottom: 5px;
}

td {
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

td.name,
th.name {
   width: 175px;
}

td.email,
th.email {
   width: 250px;
}