:host {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
}

header {
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr min-content;
  border-bottom: 1px solid var(--border);
  padding: 1rem;
}

.left {
  display: flex;
  align-items: center;
}
.right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

section {
  padding: 0 0.5rem;
  overflow: hidden;
}
