:host {
    display: flex;
    width: min-content;
    height: min-content;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

:host ::ng-deep button:hover {
    svg {
        fill: color-mix(in srgb, var(--color) 55%, white)
    }
}