:host {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   width: 23rem;
   height: var(--height, 15rem);
}

button {
   background: var(--background);
   border: none;
   cursor: pointer;
   transition: all .3s;
   border-radius: 3px;
   line-height: 1;
   font-size: 1.5rem;

   &:nth-child(7n),
   &:nth-child(7n+1) {
      color: red;
   }

   &:hover {
      background-color: var(--hover-background);
   }

   &.today {
      background-color: rgba(blue, .3);
      color: rgba(white, .9);
      font-weight: 500;
   }

   &.date {
      background-color: var(--hover-background);
   }

   &:disabled {
      color: transparent !important;
      cursor: default;
      background-color: transparent !important;
   }
}